@model IEnumerable<ControleVeiculo.Models.Veiculo>
@{
    ViewBag.Title = "Lista de Veículos";
}

<h2>Lista de Veículos</h2>

<table class="table">
    <tr>
        <th>COD</th>
        <th>MODELO</th>
        <th>MARCA</th>
        <th>ANO</th>
        <th>PRECO</th>
    </tr>
    @foreach (var veiculo in Model)
    {
        <tr>
            <td>@veiculo.COD</td>
            <td>@veiculo.MODELO</td>
            <td>@veiculo.MARCA</td>
            <td>@veiculo.ANO</td>
            <td>@veiculo.PRECO</td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = veiculo.COD })
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = veiculo.COD })
            </td>
            <td>
                @Html.ActionLink("Excluir", "Delete", new { id = veiculo.COD })
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Search", "Veiculos", FormMethod.Get))
{
    <p>
        Pesquisar: @Html.TextBox("searchString")
        <input type="submit" value="Buscar" />
    </p>
}